## ignore this files ##
customersys/*.ini
customersys/*.log
customersys/*.pid
customersys/statics/*
!customersys/statics/captchaImage
customersys/.idea
vite-test/node_modules/*
.vim
vite-test/dist/*
.DS_Store
